fintp_sep/core/cblrct.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" 
	xmlns:cbct="urn:swift:xsd:CoreBlkLrgRmtCdtTrf" 
	targetNamespace="urn:swift:xsd:CoreBlkLrgRmtCdtTrf">
	
	<!-- added by BIS top-level batchitem element -->
	<xs:element name="CdtTrf" type="cbct:CoreLargeTransfer"/>
	<xs:element name="CoreBlkLrgRmtCdtTrf" type="cbct:CoreBlkLrgRmtCdtTrfType"/>
	<xs:complexType name="CoreBlkLrgRmtCdtTrfType">
		<xs:sequence>
			<xs:element name="GrpHdr" type="cbct:PaymentInformation1"/>
			<xs:element name="InstdAgt" type="cbct:FinancialInstitutionIdentificationChoice" 
				minOccurs="0" maxOccurs="1"/>
			<xs:element name="CdtTrf" type="cbct:CoreLargeTransfer" minOccurs="1" 
				maxOccurs="unbounded"/>
			<xs:element name="InstgAgt" type="cbct:FinancialInstitutionIdentificationChoice" 
				minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CoreLargeTransfer">
		<xs:sequence>
			<xs:element name="PmtInstr" type="cbct:PaymentInstruction1"/>
			<xs:element name="FrstAgt" type="cbct:FinancialInstitutionIdentificationChoice"/>
			<xs:element name="FnlAgt" type="cbct:FinancialInstitutionIdentificationChoice"/>
			<xs:element name="PmtTx" type="cbct:CoreLargeRemittancePaymentTransaction"/>
			<xs:element name="InstdAgt" type="cbct:FinancialInstitutionIdentificationChoice" 
				minOccurs="0" maxOccurs="1"/>
			<xs:element name="InstgAgt" type="cbct:FinancialInstitutionIdentificationChoice" 
				minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CoreLargeRemittancePaymentTransaction">
		<xs:sequence>
			<xs:element name="Purp" type="cbct:Max3AlphaNumericText" minOccurs="0" 
				maxOccurs="1"/>
			<xs:element name="InstdAmt" type="cbct:CurrencyAndAmount"/>
			<xs:element name="ChrgBr" type="cbct:ChargeBearer1Code"/>
			<xs:element name="OrgtrRef" type="cbct:Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="XchgRate" type="cbct:BaseOneRate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ChrgAmt" type="cbct:CurrencyAndAmount" minOccurs="0" 
				maxOccurs="unbounded"/>
			<xs:element name="DbtrCtryOfRes" type="cbct:CountryCode" minOccurs="0" 
				maxOccurs="1"/>
			<xs:element name="CdtrCtryOfRes" type="cbct:CountryCode" minOccurs="0" 
				maxOccurs="1"/>
			<xs:element name="DbtrAcct" type="cbct:AccountIdentificationOrNameChoice" 
				minOccurs="0" maxOccurs="1"/>
			<xs:element name="CdtrAcct" type="cbct:AccountIdentificationAndName1" 
				minOccurs="0" maxOccurs="1"/>
			<xs:element name="FnlPty" type="cbct:GenericPartyChoice" minOccurs="0" 
				maxOccurs="1"/>
			<xs:element name="Dbtr" type="cbct:GenericPartyChoice"/>
			<xs:element name="Cdtr" type="cbct:GenericPartyChoice"/>
			<xs:element name="OrgtgPty" type="cbct:GenericPartyChoice" minOccurs="0" 
				maxOccurs="1"/>
			<xs:element name="RmtInf" type="cbct:LargeRemittanceInformation1" minOccurs="0" 
				maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountIdentificationAndName1">
		<xs:sequence>
			<xs:element name="Nm" type="cbct:Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Id" type="cbct:AccountIdentification1Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountIdentificationOrNameChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Nm" type="cbct:Max35Text"/>
				<xs:element name="Id" type="cbct:AccountIdentification1Choice"/>
				<xs:element name="NmAndId" type="cbct:AccountIdentificationAndName2"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountIdentificationAndName2">
		<xs:sequence>
			<xs:element name="Nm" type="cbct:Max35Text"/>
			<xs:element name="Id" type="cbct:AccountIdentification1Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BaseOneRate">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="ChargeBearer1Code">
		<xs:restriction base="cbct:ChargeBearerCode">
			<xs:enumeration value="OUR"/>
			<xs:enumeration value="BEN"/>
			<xs:enumeration value="SHA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ChargeBearerCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OUR"/>
			<xs:enumeration value="BEN"/>
			<xs:enumeration value="SHA"/>
			<xs:enumeration value="INVR"/>
			<xs:enumeration value="INTR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ChargeBearer2Code">
		<xs:restriction base="cbct:ChargeBearerCode">
			<xs:enumeration value="INVR"/>
			<xs:enumeration value="INTR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max3AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PaymentInstruction1">
		<xs:sequence>
			<xs:element name="InstrRef" type="cbct:Max16Text"/>
			<xs:element name="SvcLvl" type="cbct:ServiceLevelChoice" minOccurs="0" 
				maxOccurs="1"/>
			<xs:element name="SttlmInstr" type="cbct:SettlementInstruction1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettlementInstruction1">
		<xs:sequence>
			<xs:element name="IntrBkSttlmAmt" type="cbct:CurrencyAndAmount"/>
			<xs:element name="IntrBkValDt" type="cbct:ISODate" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentInformation1">
		<xs:sequence>
			<xs:element name="GrpId" type="cbct:Max16Text"/>
			<xs:element name="IndvItmTtlNb" type="cbct:Number"/>
			<xs:element name="TtlSttlmAmt" type="cbct:CurrencyAndAmount"/>
			<xs:element name="IntrBkValDt" type="cbct:ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CreDt" type="cbct:ISODateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SvcLvl" type="cbct:ServiceLevelChoice" minOccurs="0" 
				maxOccurs="1"/>
			<xs:element name="SttlmAgt" type="cbct:SettlementAgentChoice" minOccurs="0" 
				maxOccurs="1"/>
			<xs:element name="SttlmAcct" type="cbct:Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettlementAgentChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ClrAgt" type="cbct:ClearingAgentRole1Code"/>
				<xs:element name="PmtSchme" type="cbct:ClearingSystem1Code"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ClearingSystem1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ABE"/>
			<xs:enumeration value="ART"/>
			<xs:enumeration value="AVP"/>
			<xs:enumeration value="AZM"/>
			<xs:enumeration value="BAP"/>
			<xs:enumeration value="BEL"/>
			<xs:enumeration value="BOF"/>
			<xs:enumeration value="BRL"/>
			<xs:enumeration value="CAD"/>
			<xs:enumeration value="CAM"/>
			<xs:enumeration value="CBJ"/>
			<xs:enumeration value="CHP"/>
			<xs:enumeration value="DKC"/>
			<xs:enumeration value="RTP"/>
			<xs:enumeration value="EBA"/>
			<xs:enumeration value="ELS"/>
			<xs:enumeration value="ERP"/>
			<xs:enumeration value="XCT"/>
			<xs:enumeration value="HRK"/>
			<xs:enumeration value="HRM"/>
			<xs:enumeration value="HUF"/>
			<xs:enumeration value="LGS"/>
			<xs:enumeration value="LVL"/>
			<xs:enumeration value="MOS"/>
			<xs:enumeration value="MUP"/>
			<xs:enumeration value="NOC"/>
			<xs:enumeration value="PCH"/>
			<xs:enumeration value="PDS"/>
			<xs:enumeration value="PEG"/>
			<xs:enumeration value="PNS"/>
			<xs:enumeration value="PVE"/>
			<xs:enumeration value="SEC"/>
			<xs:enumeration value="SIT"/>
			<xs:enumeration value="SLB"/>
			<xs:enumeration value="SPG"/>
			<xs:enumeration value="SSK"/>
			<xs:enumeration value="TBF"/>
			<xs:enumeration value="TGT"/>
			<xs:enumeration value="TOP"/>
			<xs:enumeration value="FDW"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ServiceLevelChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Swift" type="cbct:SWIFTServiceLevel2Code"/>
				<xs:element name="Bil" type="cbct:Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SWIFTServiceLevel2Code">
		<xs:restriction base="cbct:SWIFTServiceLevelCode">
			<xs:enumeration value="SPAY"/>
			<xs:enumeration value="SSTD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SWIFTServiceLevelCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SPAY"/>
			<xs:enumeration value="SPRI"/>
			<xs:enumeration value="SSTD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SWIFTServiceLevel1Code">
		<xs:restriction base="cbct:SWIFTServiceLevelCode">
			<xs:enumeration value="SPAY"/>
			<xs:enumeration value="SPRI"/>
			<xs:enumeration value="SSTD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="Number">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="0"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClearingAgentRole1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INGA"/>
			<xs:enumeration value="INDA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AccountIdentification1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="IBAN" type="cbct:IBANIdentifier"/>
				<xs:element name="BBAN" type="cbct:BBANIdentifier"/>
				<xs:element name="UPIC" type="cbct:UPICIdentifier"/>
				<xs:element name="DmstAcct" type="cbct:SimpleIdentificationInformation"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="UPICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{8,17}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BBANIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IBANIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LargeRemittanceInformation1">
		<xs:sequence>
			<xs:element name="Ustrd" type="cbct:Max1MText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max1MText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GenericPartyChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="NFI" 
					type="cbct:NonFinancialInstitutionIdentificationOrName1Choice"/>
				<xs:element name="FI" type="cbct:FinancialInstitutionIdentificationChoice"/>
				<xs:element name="Prsn" type="cbct:PersonAndLongAddress1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonAndLongAddress1">
		<xs:sequence>
			<xs:element name="NmAndAdr" type="cbct:NameAndLongPostalAddress"/>
			<xs:element name="Id" type="cbct:PersonIdentificationChoice" minOccurs="0" 
				maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="DrvrsLicNb" type="cbct:Max35Text"/>
				<xs:element name="SclSctyNb" type="cbct:Max35Text"/>
				<xs:element name="AlnRegnNb" type="cbct:Max35Text"/>
				<xs:element name="PsptNb" type="cbct:Max35Text"/>
				<xs:element name="TaxIdNb" type="cbct:Max35Text"/>
				<xs:element name="MplyrIdNb" type="cbct:Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentificationChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="NmAndAdr" type="cbct:NameAndLongPostalAddress"/>
				<xs:element name="BIC" type="cbct:BICIdentifier"/>
				<xs:element name="ClrSysMmbId" 
					type="cbct:ClearingSystemMemberIdentificationChoice"/>
				<xs:element name="PrtryId" type="cbct:SimpleIdentificationInformation"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleIdentificationInformation">
		<xs:sequence>
			<xs:element name="Id" type="cbct:Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentificationChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="USCHU" type="cbct:CHIPSUniversalIdentifier"/>
				<xs:element name="NZNCC" type="cbct:NewZealandNCCIdentifier"/>
				<xs:element name="IENSC" type="cbct:IrishNSCIdentifier"/>
				<xs:element name="GBSC" type="cbct:UKDomesticSortCodeIdentifier"/>
				<xs:element name="USCH" type="cbct:CHIPSParticipantIdentifier"/>
				<xs:element name="CHBC" type="cbct:SwissBCIdentifier"/>
				<xs:element name="USFW" type="cbct:FedwireRoutingNumberIdentifier"/>
				<xs:element name="PTNCC" type="cbct:PortugueseNCCIdentifier"/>
				<xs:element name="RUCB" 
					type="cbct:RussianCentralBankIdentificationCodeIdentifier"/>
				<xs:element name="ITNCC" type="cbct:ItalianDomesticIdentifier"/>
				<xs:element name="ATBLZ" type="cbct:AustrianBankleitzahlIdentifier"/>
				<xs:element name="CACPA" type="cbct:CanadianPaymentsARNIdentifier"/>
				<xs:element name="CHSIC" type="cbct:SwissSICIdentifier"/>
				<xs:element name="DEBLZ" type="cbct:GermanBankleitzahlIdentifier"/>
				<xs:element name="ESNCC" type="cbct:SpanishDomesticInterbankingIdentifier"/>
				<xs:element name="ZANCC" type="cbct:SouthAfricanNCCIdentifier"/>
				<xs:element name="HKNCC" type="cbct:HongKongBankIdentifier"/>
				<xs:element name="AUBSBx" type="cbct:ExtensiveBranchNetworkIdentifier"/>
				<xs:element name="AUBSBs" type="cbct:SmallNetworkIdentifier"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SmallNetworkIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="AU[0-9]{6,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExtensiveBranchNetworkIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="AU[0-9]{6,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HongKongBankIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="HK[0-9]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SouthAfricanNCCIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="ZA[0-9]{6,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SpanishDomesticInterbankingIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="ES[0-9]{8,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GermanBankleitzahlIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="BL[0-9]{8,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SwissSICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="SW[0-9]{6,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CanadianPaymentsARNIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="CA[0-9]{9,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AustrianBankleitzahlIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="AT[0-9]{5,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ItalianDomesticIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="IT[0-9]{10,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="RU[0-9]{9,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PortugueseNCCIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="PT[0-9]{8,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FedwireRoutingNumberIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="FW[0-9]{9,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SwissBCIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="SW[0-9]{3,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CHIPSParticipantIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="CP[0-9]{4,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UKDomesticSortCodeIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="SC[0-9]{6,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IrishNSCIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="IE[0-9]{6,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NewZealandNCCIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="NZ[0-9]{6,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z0-9]{2,2}([A-Z0-9][A-Z0-9][A-Z0-9]){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NonFinancialInstitutionIdentificationOrName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Id" type="cbct:NonFinancialInstitutionIdentificationChoice"/>
				<xs:element name="NmAndAdr" type="cbct:NameAndLongPostalAddress"/>
				<xs:element name="IdAndNmAdr" type="cbct:IdentificationAndNameAddress1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentificationAndNameAddress1">
		<xs:sequence>
			<xs:element name="Id" type="cbct:NonFinancialInstitutionIdentificationChoice"/>
			<xs:element name="NmAndAdr" type="cbct:NameAndLongPostalAddress"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameAndLongPostalAddress">
		<xs:sequence>
			<xs:element name="Nm" type="cbct:Max35Text"/>
			<xs:element name="LngPstlAdrChc" type="cbct:LongPostalAddressChoice" minOccurs="0" 
				maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LongPostalAddressChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Ustrd" type="cbct:Max140Text"/>
				<xs:element name="Strd" type="cbct:StructuredLongPostalAddress"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StructuredLongPostalAddress">
		<xs:sequence>
			<xs:element name="Ctry" type="cbct:CountryCode"/>
			<xs:element name="PstCdId" type="cbct:Max16Text"/>
			<xs:element name="StrtNm" type="cbct:Max35Text"/>
			<xs:element name="StrtBldgId" type="cbct:Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TwnNm" type="cbct:Max35Text"/>
			<xs:element name="BldgNm" type="cbct:Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CtyId" type="cbct:Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DstrctNm" type="cbct:Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Flr" type="cbct:Max16Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="POB" type="cbct:Max16Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RgnId" type="cbct:Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Stat" type="cbct:Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NonFinancialInstitutionIdentificationChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ROURC" type="cbct:ROIdentifier"/>
				<xs:element name="BEI" type="cbct:BEIIdentifier"/>
				<xs:element name="EANGLN" type="cbct:EANGLNIdentifier"/>
				<xs:element name="USCHU" type="cbct:CHIPSUniversalIdentifier"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CHIPSUniversalIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="CH[0-9]{6,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EANGLNIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{13,13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BEIIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z0-9]{2,2}([A-Z0-9][A-Z0-9][A-Z0-9]){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ROIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyAndAmount-SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="cbct:CurrencyAndAmount-SimpleType">
				<xs:attribute name="Ccy" type="cbct:CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="StructuredRemittanceInformation1">
		<xs:sequence>
			<xs:element name="RfrdDocTp" type="cbct:DocumentType1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DocIdntyNb" type="cbct:Max16Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RfrdDocRltdDt" type="cbct:ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CstmrNb" type="cbct:Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RfrdDocAmtChc" type="cbct:ReferredDocumentAmountChoice" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentAmountChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="DuePyblAmt" type="cbct:CurrencyAndAmount"/>
				<xs:element name="DscntApldAmt" type="cbct:CurrencyAndAmount"/>
				<xs:element name="RmtdAmt" type="cbct:CurrencyAndAmount"/>
				<xs:element name="CdtNoteAmt" type="cbct:CurrencyAndAmount"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DocumentType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSIN"/>
			<xs:enumeration value="CNFA"/>
			<xs:enumeration value="DNFA"/>
			<xs:enumeration value="CINV"/>
			<xs:enumeration value="CREN"/>	
			<xs:enumeration value="DEBN"/>
			<xs:enumeration value="HIRI"/>
			<xs:enumeration value="SBIN"/>
			<xs:enumeration value="RADM"/>
			<xs:enumeration value="RPIN"/>
			<xs:enumeration value="CMCN"/>
			<xs:enumeration value="FXDR"/>
			<xs:enumeration value="SOAC"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
